
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.display-flex {
    display: flex;
}
.btn {
    font-size: 20px;
    font-weight: 700px;
    color: white;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
}
.clr-txt-dark2 {
  color: rgba(66, 66, 66, 1);
}
.clr-txt-dark3 {
    color: rgba(114, 114, 114, 1);
}
.bg-clr {
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.nav-bnd-nm {
    font-size: 45px;
    font-weight: bold;
}
.nav-ul-list {
    list-style: none;
    margin-right: 30px;
}
.nav-ul-list-link {
    text-decoration: none;
    font-size: 18px;
    
}
.bnr {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.bnr-prt1 {
    max-width: 850px;
    margin: 0 auto;
}
.bnr-titl {
    font-size: 4rem;
    font-weight: bold;
}
.bnr-dsctpn {
    font-size: 16px;
    font-weight: 100px;
}
.bnr-img {
    width: 100%;
}
.mn-sec1 {
    display: flex;
    align-items: center;
}
.mn-sec1-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.mn-sec-prt2 {
    max-width: 537px;
    padding-left: 73px;
}
#mn-sec-prt2-titl1 {
    font-size: 45px;
    font-weight: 100px;
}
#mn-sec-prt2-titl2 {
    font-size: 45px;
    font-weight: bold;
}
#mn-sec-prt2-titl3 {
    font-size: 45px;
    font-weight: bold;
    color: #FF900E;
}


@media screen and (max-width: 576px) {
    .navbar, .nav-ul-list {
        flex-direction: column;
    }
}